NEXT_PUBLIC_SUPABASE_URL=https://lsuhkzvbzgkbjyfuppeg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_TH3aLztSSpaAJ_tKym-ewg_F1ZxYofZ
SUPABASE_SERVICE_ROLE_KEY=replace-only-on-server
NEXT_PUBLIC_APP_URL=http://localhost:3000
